<form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="title">Title</label>
    <input id="title" formControlName="title" required>
  </div>
  <div>
    <label for="price">Price</label>
    <input id="price" formControlName="price" required type="number">
  </div>
  <div>
    <label for="publicationDate">Publication Date</label>
    <input id="publicationDate" formControlName="publicationDate" type="date" required>
  </div>
  
  <div>
    <label for="authorId">Author</label>
    <select id="authorId" formControlName="authorId" required>
      <option *ngFor="let author of authors" [value]="author.id">{{ author.name }}</option>
    </select>
  </div>

  <div>
    <label for="categoryId">Category</label>
    <select id="categoryId" formControlName="categoryId" required>
      <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
    </select>
  </div>

  <button type="submit">{{ isEditMode ? 'Update Book' : 'Add Book' }}</button>
</form>
